body {
      background: linear-gradient(to right, black, #63008a, #6b3fd1);
      font-family: cursive;
      text-align: center;
      padding-top: 120px;
      padding-left: 0;
      padding-right: 0;
    }
    header{
      background-color:black;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 40px;
      box-sizing: border-box;
    }
    header img {
      height: 80px;
      border-radius: 8px;
    }
    nav {
      display: flex;
      gap: 15px;
    }
    h1 {
      color: aliceblue;
    }
    .botao {
      color: aliceblue;
      background-color: #6b3fd1;
      display: inline-block;
      padding: 10px 5px;
      border-radius: 8px;
      font-size: 20px;
      text-decoration: none;
    }
    .pesquisa {
      margin: 10px;
    }
    .pesquisa input {
      padding: 5px;
      width: 400px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 13px;
    }
    .pesquisa button {
      color: aliceblue;
      background-color: #0e0ba5;
      padding: 10px 20px;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
    }
    .produtos-populares {
      background-color: rgba(0, 0, 0, 0.2);
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      max-width: 600px;
      border-radius: 10px;
      text-align: left;
      box-shadow: 2px 5px rgba(0, 0, 0, 0.2);
    }
    .produto-item {
      margin: 10px;
      font-size: 18px;
      color: white;
    }
    h2 {
      color: aliceblue;
    }